$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1440px,
  xxl: 1600px,
);

$xs: map-get($breakpoints, xs);
$sm: map-get($breakpoints, sm);
$md: map-get($breakpoints, md);
$lg: map-get($breakpoints, lg);
$xl: map-get($breakpoints, xl);
$xxl: map-get($breakpoints, xxl);

// Mixin to handle media queries
@mixin media-breakpoint-up($breakpoint) {
  @media (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin media-breakpoint-down($breakpoint) {
  @media (max-width: map-get($breakpoints, $breakpoint - 1)) {
    @content;
  }
}

@mixin media-breakpoint-between($min-breakpoint, $max-breakpoint) {
  $min-width: map-get($breakpoints, $min-breakpoint);
  $max-width: map-get($breakpoints, $max-breakpoint - 1);

  @media (min-width: $min-width) and (max-width: $max-width) {
    @content;
  }
}
