$icon-add: '\e90c';
$icon-calendar: '\e906';
$icon-calendar-accept: '\e91b';
$icon-calendar-decline: '\e91c';
$icon-calendar-not-sure: '\e91d';
$icon-check: '\e904';
$icon-chevron-down: '\e909';
$icon-chevron-left: '\e908';
$icon-chevron-right: '\e90a';
$icon-chevron-up: '\e907';
$icon-close: '\e90b';
$icon-dashboard: '\e905';
$icon-edit: '\e900';
$icon-external: '\e901';
$icon-group: '\e90d';
$icon-info: '\e911';
$icon-injured: '\e902';
$icon-invisible: '\e913';
$icon-login: '\e903';
$icon-logout: '\e90e';
$icon-multiple: '\e919';
$icon-question-mark: '\e90f';
$icon-settings: '\e918';
$icon-settings-outline: '\e91e';
$icon-single: '\e91a';
$icon-svf: '\e910';
$icon-thumb-down: '\e912';
$icon-thumb-up: '\e914';
$icon-trash: '\e915';
$icon-visible: '\e916';
$icon-warning: '\e917';
$icon-lineup: '\e91f';
$icon-exchange: '\e920';
$icon-switch: '\e921';
$icon-lineup-base: '\e922';
$icon-lineup-create: '\e923';
$icon-lineup-edit: '\e924';
