@use 'tools';

$box-shadow-default: 0 tools.rem(3px) tools.rem(6px) rgba(0, 0, 0, 0.16);
$box-shadow-large: 0 tools.rem(5px) tools.rem(15px) rgba(0, 0, 0, 0.16);
$box-shadow-mobile-navigation: 0 tools.rem(5px) tools.rem(15px) rgba(0, 0, 0, .1);
$box-shadow-mobile-navigation-reverse: 0 tools.rem(-5px) tools.rem(15px) rgba(0, 0, 0, .1);

/* Z-INDEXES */
$pageHeaderIndex: 998;
$overlayIndex: 999;
$loadingIndex: 1000;

/* HEIGHTS */
$iphoneControlBottomHeight: tools.rem(34px);