@use 'tools';

$headlineGroup: 'h1, h2, h3';

$fallbackFont: Arial, Helvetica, sans-serif !default;
$font-family: 'Prompt', $fallbackFont;
$font-family-iconfont: 'iconfont';
$font-path: '@/assets/fonts';

$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;

$letter-spacing-large: 0.1em;

$font-size-10: tools.rem(10px);
$font-size-12: tools.rem(12px);
$font-size-14: tools.rem(14px);
$font-size-16: tools.rem(16px);
$font-size-18: tools.rem(18px);
$font-size-21: tools.rem(21px);
$font-size-24: tools.rem(24px);
$font-size-28: tools.rem(28px);
$font-size-34: tools.rem(34px);
$font-size-42: tools.rem(42px);
