.btn:not(.btn-link) {
  padding: rem(15px) rem(40px);
  background: var(--primary);
  border: 1px solid var(--primary);
  color: var(--white);
  font-size: $font-size-16;
  border-radius: rem(10px);
  transition: $transition-base;
  font-family: $font-family, $fallbackFont;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(10px);

  @include media-breakpoint-up(lg) {
    &:not([disabled]) {
      &:hover {
        box-shadow: 0 0 rem(15px) var(--primary-50);
      }
    }
  }

  &[disabled] {
    background: var(--border-color);
    cursor: not-allowed;
  }

  @include media-breakpoint-up(md) {
    width: inherit;
  }

  &.btn-secondary {
    border: 1px solid var(--black);
    background: var(--white);
    color: var(--black);

    @include media-breakpoint-up(lg) {
      &:hover {
        box-shadow: 0 0 rem(15px) var(--black-25);
      }
    }
  }

  &.btn-success {
    background: var(--success-light);
    border: 1px solid var(--success-light);

    @include media-breakpoint-up(lg) {
      &:not([disabled]) {
        &:hover {
          box-shadow: 0 0 rem(15px) var(--success-light-50);
        }
      }
    }
  }

  &.btn-tertiary {
    background: var(--gray-dark);
    border: 1px solid var(--gray-dark);

    @include media-breakpoint-up(lg) {
      &:not([disabled]) {
        &:hover {
          box-shadow: 0 0 rem(15px) var(--gray-dark-50);
        }
      }
    }
  }

  &.btn-light {
    padding: rem(5px) rem(10px);
    border-radius: rem(5px);
    position: relative;
    font-size: $font-size-14;

    @include media-breakpoint-up(lg) {
      &:hover {
        box-shadow: 0 0 0 transparent;
      }
    }

    &--success {
      background: var(--success-soft);
      border-color: var(--success-dark);
      color: var(--success-dark);
    }

    &--error {
      background: var(--error-soft);
      border-color: var(--error-dark);
      color: var(--error-dark);
    }
  }

  &.btn-small {
    @extend .btn-light;
    background: var(--gray-soft);
    border-color: var(--border-color);
    color: var(--black);

    @include media-breakpoint-up(lg) {
      &:hover {
        background: var(--border-color);
      }
    }
  }

  &.spacing-top {
    margin-top: rem(40px);
  }
}

.btn-link {
  text-decoration: none;

  &.btn-with-icon {
    display: flex;
    align-items: center;
    gap: rem(10px);
  }

  &.btn-reverse {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  &.btn-prev {
    justify-content: flex-end;
    margin-bottom: rem(40px);
    padding-bottom: rem(20px);
    border-bottom: 1px solid var(--border-color);
    font-size: $font-size-18;

    [class*='icon-'] {
      font-size: $font-size-14;
    }
  }
}
